<h1>UpdateUser</h1> 
 <%= form_for([:admin, @user]) do |c| %>
<table>
   
    	<%= render 'shared/error_messages' ,object: c.object %>
		<tr>
		     <td> <%= c.label :first_name %></td>
		     <td> <%= c.text_field :first_name %></td>
		</tr>

		<tr>
		     <td> <%= c.label :last_name %></td>
		     <td> <%= c.text_field :last_name %></td>
		</tr>

		<tr>
		     <td> <%= c.label :email %></td>
		     <td> <%= c.text_field :email %></td>
		</tr>

		<tr>
		     <td> <%= c.label :phone %></td>
		     <td> <%= c.text_field :phone %></td>
		</tr>
		
		<tr>
		     <td> <%= c.label :state %></td>
		     <td> <%= c.text_field :state %></td>
		</tr>

	    <tr>
	     	<td> <%= c.submit "Update user", class: "btn btn-large btn-primary" %></td>
	     	<td><%= link_to 'Cancel', admin_users_path, class: "btn btn-info" %></td>
	    </tr>
    
</table>  
<% end %>