<h1>Show User Detail</h1> <br><br>

<table border=0 cellspaceing="5">
	<tr>
		<td>Name</td><td>:</td><td><%= @user.first_name %> <%= @user.last_name %></td>
	</tr>	
	<tr>
		<td>Email</td><td>:</td><td><%= @user.email %></td>
	</tr>	
	<tr>
		<td>Phone</td><td>:</td><td><%= @user.phone %></td>
	</tr>	
	<tr>
		<td>State</td><td>:</td><td><%= @user.state %></td>
	</tr>	

	
</table>	

<br>
<%= link_to 'Back', admin_users_path, class: "btn btn-info" %>
<br>